@use "./reset";
@use "./player";

:root {
  --pico-progress-style: pink;
}

body {
  font-family: monospace;
}

section {
  padding: 1rem;

  > .pico-player {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}
